@import './vars';
@import './mixins';

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    
    &:before,
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40%;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, #000 100%);
        opacity: .8;
    }
    
    &:after{
        background: linear-gradient(rgba(0, 0, 0, 0) 0%, #000 100%);
        height: 60%;
        top: auto;
        bottom: 0;
    }

    .hero__img{
        width: 100%;
        height: 100%;

        img{
            width: 100%;
            height: 100%;           
            object-fit: cover;
            object-position: 40% 50%;
        }
    }

    .content{
        z-index: 2;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        text-align: center;

        h1{
            margin-bottom: 1.5rem;
        }
        
        .hero__chevron{
            margin-top: 6rem;
            animation: MoveUpDown 1s linear infinite;
            
            svg{
                color: #C9C8C8;
                font-size: 3.5rem;
            }
        }

    }

    .hero__chevron__desktop{
        display: none;
    }
    
    @include atDesktop{

        &:after{
            height: 70%;
        }

        .content{
            max-width: 73rem;
            left: 50%;
            transform: translate(-50%, -50%);

            .hero__chevron{
                display: none;
            }
        }

        .hero__chevron__desktop{
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 10rem;
            z-index: 2;
            cursor: pointer;
            
            svg{
                color: #C9C8C8;
                font-size: 4.5rem;
            }
        }
    }

}

// Animations
@keyframes MoveUpDown {
    0% {
        bottom: 10rem;
    }

    25% {
        bottom: 8rem;
    }

    50%{
        bottom: 10rem;
    }
    
    100% {
        bottom: 11rem;
    }
}