@import './vars';
@import './mixins';

.homevets{
    position: relative;
    background-color: $mainBlue;
    padding-top: 9.3rem;
    padding-bottom: 12rem;
    margin-bottom: 3.2rem;

    .wrapper{
        padding: 0;

        figure{
            text-align: center;
            margin-bottom: 7.7rem;

            img{
                width: 28.7rem;
            }
        }

        p{
            color: $regWhite;
            text-align: center;
            padding: 0 2rem;
        }

        .video{
            margin-top: 8rem;
            
            iframe{
                vertical-align: middle;
                width: 100%;
                height: 20.9rem;
            }
        }
    }

    @include atMedium{
        .wrapper{
            .video{
                padding: 0 2rem;

                iframe{
                    height: 40rem;
                }
            }
        }
    }
}