@import './vars';
@import './mixins';

.main_nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.7rem 3.7rem;
    z-index: 10;
    transition: padding .3s ease-in-out;

    .main_nav__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($regWhite, .98);
        padding: 2.7rem 3.7rem;
        padding-right: 0;
        transform: translateX(100%);
        transition: transform .3s ease-in-out;
        z-index: 11;
        padding-top: 10rem;

        &.active{
            transform: translateX(0);
        }

        .close{
            position: absolute;
            top: 1.6rem;
            right: 3.7rem;

            svg{
                color: $mainBlack;
                font-size: 3rem;
            }
        }

        ul{
            
            li{
                text-align: left;
                padding: 2rem 0;
                border-bottom: 2px solid $mainRed;

                a{
                    font-size: 2rem;
                    display: block;
                    color: #565656;
                    text-decoration: none;

                    &.active{
                        color: $mainRed;
                        font-weight: bold;
                    }
                }
            }
        }

        @include atMediumLarge{
            position: static;
            transform: translate(0);
            width: auto;
            height: auto;
            padding: 0;
            background-color: initial;

            .close{
                display: none;
            }

            ul{
                display: flex;
                justify-content: flex-start;
                align-items: center;

                li{
                    padding: 0;
                    margin-right: 3.5rem;
                    border-bottom: none;

                    &:last-child{
                        margin-right: 0;
                    }

                    a{
                        font-size: 1.8rem;
                        cursor: pointer;
                        position: relative;
                        padding-bottom: .5rem;
                        color: $regWhite;

                        &:after{
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 2px;
                            background-color: transparent;
                        }

                        &.active{
                            font-weight: normal;
                            color: $regWhite;

                            &:after{
                                background-color: $mainRed;
                            }
                        }
                    }
                }
            }
        }
    }

    .logo{
        width: 8.2rem;

        img{
            width: 100%;
            height: 100%;
            object-fit: container;
            object-position: center center;
        }

        @include atDesktop{
            cursor: pointer;
        }
    }

    .burguer{
        svg{
            color: $regWhite;
            font-size: 3rem;
        }

        @include atMediumLarge{
            display: none;
        }
    }
}

.scrolled{
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: $backgroundColor;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .burguer{
        svg{
            color: $mainBlack;
        }
    }

    @include atMediumLarge{
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;

        .menu{
            ul li a{
                color: $mainBlack !important;
            }
        }
    }
}

