@import './vars';
@import './mixins';

.services{
    padding-top: 9.7rem;
    padding-bottom: 6.1rem;

    .wrapper{
        padding: 0;
        
        .content{
            padding: 0 2rem;

            h2, p{
                color: $mainBlack;
                text-align: center;
            }

            h2{
                margin-bottom: 4rem;
            }

            p{
                margin-bottom: 4rem;

                &:last-child{
                    margin-bottom: 0;
                }
            }

            @include atDesktop{
                max-width: 67rem;
                margin: 0 auto;
            }
        }

        .slide{
            margin-top: 7.7rem;

            .splide{

                img{
                    border-radius: 4.2rem;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top center;
                }

                .splide__arrow{
                    background: transparent;
                    align-items: center;
                    border: 0;
                    border-radius: 0;
                    cursor: pointer;
                    display: flex;
                    height: auto;
                    justify-content: center;
                    opacity: 1;
                    padding: 0;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: auto;
                    z-index: 1;

                    svg{
                        width: 4.5rem;
                        height: 4.5rem;
                        transform: scale(1);

                        path{
                            fill: #C9C8C8;
                        }
                    }
                }
            }

            @include atDesktop{
                max-width: 120rem;
                margin-left: auto;
                margin-right: auto;

                .splide{

                    img{
                        border-radius: 4.2rem 0 0 4.2rem;

                        &:nth-child(even){
                            border-radius: 0 4.2rem 4.2rem 0;
                        }
                    }
                }
            }            
        }
    }

    
}