@import './vars';
@import './mixins';

.showcase{
    padding-top: 10rem;

    .wrapper{
        padding: 0;

        .content{
            padding: 0 2rem;

            h4{
                color: $mainBlack;
                font-size: 1.9rem;
                line-height: 3rem;
                font-weight: bold;
                margin: 1rem 0;
            }

            h2{
                color: $mainBlack;
                margin-bottom: 2.5rem;
            }

            .readmore{
                font-size: 1.9rem;
                color: $mainBlue;
                text-decoration: underline;
                display: inline-block;
                margin-top: 3.5rem;
            }

            &.hide{
                .description__hide{
                    display: none;
                }
            }
            
            &.show{
                .description__hide{
                    display: block;
                }
            }
        }
        
        figure{
            margin-top: 10rem;
            width: 100%;
            height: 33.1rem;
            overflow: hidden;

            img{
                border-radius: 4.2rem;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }

            &.top{
                img{
                    object-position: top center;
                }
            }
        }
    }

    @include atMedium{
        .wrapper{
            .content{
                p{
                    font-size: 1.9rem;
                }
            }
            figure{
                padding: 0 2rem;
                height: 50rem;
            }
        }
    }

    @include atMediumLarge{
        padding-top: 13rem;

        .wrapper{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: flex-start;
            grid-gap: 9rem;
            max-width: 120rem;
            padding: 0 2rem;

            .content{
                padding: 0;

                .readmore{
                    cursor: pointer;
                    margin-top: 3.1rem;
                }

                .hide{
                    display: none;
                }

                h2{
                    margin-bottom: 2rem;
                }
            }

            figure{
                padding: 0;
                margin-top: 0;
                height: 50rem;
            }
        }

        &.reverse{
            .wrapper{

                .content{
                    order: 2;
                }

                figure{
                    order: 1;
                }
            }
        }
    }

    @include atDesktopLarge{
        .wrapper{
            padding: 0;
            max-width: 140rem;

            .content{
                padding-left: 5rem;
            }

            figure{
                height: 55.7rem;
            }
        }

        &.reverse{
            .wrapper{
                .content{
                    padding-left: 0;
                    padding-right: 5rem;
                }
            }
        }
    }
}