@import './vars';
@import './mixins';

.tarifas{
    padding-top: 7.7rem;
    padding-bottom: 6.2rem;

    .wrapper{
        padding-left: 0;
        padding-right: 0;
    }

    @include atMedium{

        .wrapper{
            max-width: 110rem;
            padding: 0 2rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 8rem 2rem;
        }
    }

    @include atMediumLarge{
        padding-bottom: 14.6rem;
        padding-top: 10rem;

        .wrapper{
            grid-gap: 10rem 4rem;
        }
    }

    @include atDesktopExtraLarge{
        .wrapper{
            grid-gap: 13.5rem 5.3rem;
            max-width: 140rem;
        }
    }
}