@import './vars';
@import './mixins';

.teaming{
    padding-top: 10rem;
    margin-bottom: 10rem;

    .wrapper{
        text-align: center;

        .logo{
            width: 100%;
            text-align: center;
            margin-bottom: 3.3rem;

            img{
                width: 14.2rem;
                object-fit: contain;
            }
        }

        h2{
            color: $mainBlack;
            font-weight: 600;
            margin-bottom: 4rem;
        }
    }

    @include atMediumLarge{
        padding-top: 20rem;
        padding-bottom: 20rem;

        .wrapper{

            h2{
                margin-bottom: 2.4rem;
            }

            p{
                max-width: 40rem;
                margin: 0 auto;
            }
        }
    }
    
    @include atDesktop{
        padding-top: 20rem;
        padding-bottom: 20rem;
    }
}